<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cтраница регистрации</title>
</head>
<body>
<form action="/signup" method="POST">
    <input type="text" placeholder="username" name="username" required id="">
    <input type="email" placeholder="email" name="email" required id="">
    <input type="password" placeholder="password" name="password" required id="">
    <input type="password" placeholder="confirm_password" name="confirm_password" required id="">
    <button>Регистрация</button>
</form>
</body>
</html>